@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
}

body{
    background-color: black;
}


header{
    background-image: url("asset/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

header .over{
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 644px;
    width: 100%;
    opacity: 0.65;
    top: 0;
}


nav img{
    height: 100px;
    color: red;
    width: 125px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
    cursor: pointer;
}

nav{
    max-width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    z-index: 20;
    height: 100px;
    /* background-color: aqua; */
}

.n-btn{
    height: 30px;
    width: 65px;
    border: 1px solid white;
    background: transparent;
    color: white;
    border-radius: 5px;
    padding: 1px 3px;
}

.n-btn:hover{
    background-color: rgb(47, 44, 44);
}

.n-btn1{
    background-color: red;
}

.n-btn1:hover{
    background-color: maroon;
}

.hero{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
    color: white;
    position: relative;
}

.hero>:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
}

.hero>:nth-child(2){
    font-weight: 400;
    font-size: 38px;
}

.hero>:nth-child(3){
    font-weight: 200;
    font-size: 30px;
}

input{
    height:40px;
    width: 300px;
    background-color: rgb(30, 28, 28, 1);
    padding: 0 10px;
    color: white;
    box-sizing: border-box;
    font-size: 16px;
    margin-right: 7px;
    border-radius: 2px;
}

input::placeholder{
    color: white;
}

.btn{
    height: 40px;
    width: 150px;
    background-color: red;
    color: white;
    font-size: 18px;
}

.btn:hover{
    cursor: pointer;
    background-color: maroon;
}

.segment{
    height: 7px;
    width: 100%;
    /* background-color: aqua; */
    background-color: rgb(48, 47, 47);
}

section{
    /* border: 2px solid white; */
    display: flex;
    max-width: 80vw;
    align-items: center;
    margin: 0 auto;
}

.first, .second{
    display: flex;
    flex-direction: column;
}

section>div :nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-size: 53px;
    font-weight: bold;
}

section>div :nth-child(2){
    font-size: 24px;

}

.secImg img{
    position: relative;
    z-index: 10;

}

.secImg video{
    position: absolute;
    top: 750px;
    right: 220px;
}

.secImg2 img{
    position: relative;
    z-index: 10;
}

.secImg2 video{
    position: absolute;
    top: 1680px;
    right: 220px;
    border: 2px solid red;
}



article h2{
    font-family: 'Martel Sans', sans-serif;
    display: inline-block;
    margin: 0 25%;
    width: 50vw;
    text-align: center;
    font-size: 48px;
}

article #faq{
    font-family: 'Martel Sans', sans-serif;
    background-color: rgb(29, 28, 28);
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    max-width: 60vw;
    /* height: 10vh; */
    margin: 10px auto;
    transition: all .5s ease;
    position: relative;
    /* z-index: 1; */
    transition: transform 5s ease;
}


#faq span{
    margin: 23px 30px;
}

#faq:hover{
    background-color: rgb(58, 56, 56);
}

#faq:active{
    background-color: rgb(23, 188, 225);
}

article{
    transition: all .5s ease;
}

article img{
    margin-right: 10px;
    filter: invert(1);
}

.box{
    font-family: 'Martel Sans', sans-serif;
    background-color: rgb(29, 28, 28);
    max-width: 60vw;
    margin: -7px auto 0;
    font-size: 18px;
    padding: 0 35px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    display: none;
}

article:nth-child(n-1){
    text-align: center;
    margin: 15px auto 15px;
    font-size: 21px;
}

.load{
    display: block;
} 

.cross1{
    transition: transform .5s ease;
    transform: rotate(45deg);
}

.queries{
    display: grid;
}






/* ye sign ka part hai */

.login{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    /* background-color: aqua; */
    height: 70vh;
    width: 50vw;
    top: -200px;
    left: 0px;
    transform: scale(.1);
    transition: transform .2s ease;
    visibility: hidden;
    overflow: hidden;
}

.pop{
    visibility: visible;
    transform: scale(1);
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 

.login img{
    filter: invert(1);
    cursor: pointer;
    
    /* position: absolute; */
    /* top: 10px;
    right: 10px; */
    transform: rotate(45deg);
}

.login>:first-child{
    position: absolute;
    right: 10px;
    top: 10px;
}

.login>:nth-child(2){
    display: flex;
    width: 49vw;
    margin-top: 0px;
    /* border: 2px solid wheat; */
    justify-content: space-between;
}

.login h3{
    font-size: 35px;
    margin: 20px 125px;
    color: red;
}

.login>:nth-child(3), :nth-child(4) {
    margin-top: 20px;
    text-align: center;
}

.login input{
    box-sizing: border-box;
    width: 40vw;
    border: 1px solid rgb(202, 188, 188);
    background: transparent;
}

.login>:nth-child(5){
    margin-top: 20px;
    /* text-align: center; */
}

.login>:nth-child(6){
    margin-top: 10px;
    text-align: center;
    font-size: 26px;
}

.login>:nth-child(6) a{
    text-decoration: none;
}

.login>:nth-child(7), :nth-child(8){
    margin: 20px 75px;
    font-size: 22px;
}


.login button{
    font-size: 23px;
    cursor: pointer;
    border: none;
    margin: 0 75px;
    box-sizing: border-box;
    background-color: red;
    width: 40vw;
    height: 5vh;
}

.login button:hover{
    background-color: maroon;
}

.over1{
    transition: opacity .5s ease;
    opacity: 0;
}

.login [type="checkbox"]{
    width: 20px;
    height: 20px;
}

/* sign in ka part khtm */